/*!
 * Start Bootstrap - Blog Post (https://startbootstrap.com/templates/blog-post)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/StartBootstrap/startbootstrap-blog-post/blob/master/LICENSE)
 */
body {
  padding-top: 56px;
}

body > .container{
	padding-top: 20px;
	padding-bottom: 50px;
	margin-bottom: 50px;
}
